body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: aquamarine;
  }
  
  .game-container {
    text-align: center;
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-bottom: 10px;
  }
  
  .elements{
    padding: 20px;
    height: 15vmin;
    width: 15vmin; 
    background-color: wheat;
    border-radius: 7px;
    font-size: 3rem;
    cursor: pointer;
  }
  button:disabled{
    background-color: wheat;
    color: inherit;
    cursor: not-allowed;
  }
   
  .elements:hover {
    background-color: #f0f0f0;
  }
  
  .status {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: crimson;
  }

  #reset{
    background-color: whitesmoke;
    padding: 10px 20px;
    border-radius: 7%;
    font-size: medium;
  }
  #reset:hover{
    background-color: cyan;
  }

@media only screen and (max-width: 600px) {
  body {
    height: auto;
  }

  .board {
    grid-template-columns: repeat(3, 50px); /* Adjust columns for smaller screens */
    grid-gap: 1px;
    margin-left: 20px;
  }

  .elements {
    height: 10vmin;
    width: 10vmin;
    font-size: 1.3rem;
    text-align: center;
  }

  #reset {
    padding: 5px 10px;
    font-size: small;
  }
}
